@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-neutral-800;
    width: 100%;
    height: 100%;
    user-select: none;
}

.strict {
    contain: strict;
}

.paint {
    contain: paint;
}

.monospace {
    font-family: ui-monospace, 
    Menlo, Monaco, 
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Monospace", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Courier New", monospace;
}